$brown: #8b7355;
$space_bg: #ffbf00;
$space_bg_hover: #d39b02;
$desert_bg: grey;
$desert_owner_bg: red;

$white: white;
$white-filter: invert(100%) sepia(0%) saturate(7485%) hue-rotate(159deg) brightness(105%) contrast(108%);

$yellow: yellow;
$yellow-filter: invert(100%) sepia(100%) saturate(1914%) hue-rotate(0deg) brightness(101%) contrast(104%);

$blue: blue;
$blue-filter: invert(8%) sepia(100%) saturate(6389%) hue-rotate(246deg) brightness(103%) contrast(143%);

$green: green;
$green-filter: invert(28%) sepia(99%) saturate(1117%) hue-rotate(90deg) brightness(96%) contrast(106%);

$orange: orange;
$orange-filter: invert(59%) sepia(70%) saturate(985%) hue-rotate(360deg) brightness(102%) contrast(105%);

$leg-betting-bg: #c2a13e;
$leg-betting-bg-hover: #7a6423;
